/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body,
.row,
.container {
  height: 100%;
}
body {
  background-color: #535D63;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #1b1b1b;
}
.row h2,
.row h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
}
.row h1 {
  font-size: 102px;
  font-weight: 300;
  letter-spacing: 1px;
}
.row h1 span {
  font-weight: 400;
}
.row h2 {
  letter-spacing: 1px;
  margin-top: 7px;
  margin-bottom: 15px;
  font-size: 32px;
}
.row h2,
.row p {
  padding-left: 12px;
}
.row p {
  font-size: 18px;
  padding-right: 3px;
}
.row a {
  color: #A9ADB1;
  text-decoration: underline;
}
.row .linkLeft {
  margin-right: 20px;
}
.row p.footer {
  margin-top: 17px;
}
.row .colright,
.row .colleft {
  height: 100%;
}
.row .colright {
  padding-top: 127px;
}
.row .colright .angelhack {
  text-align: center;
  width: 154px;
  margin-top: 25px;
}
.row .colright .angelhack img {
  display: block;
  margin: 0px auto;
}
.row .colleft {
  padding: 55px 0 0 108px;
}
.row .colleft img {
  opacity: 1;
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */

  -moz-animation: fadein 2s;
  /* Firefox */

  -ms-animation: fadein 2s;
  /* Internet Explorer */

  -o-animation: fadein 2s;
  /* Opera */

  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari and Chrome */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*
** Custom box
 */
.boxcontent {
  display: -webkit-box;
  width: 100%;
  height: 100%;
}
.horizontal {
  -webkit-box-orient: horizontal;
}
.vertical {
  -webkit-box-orient: vertical;
}
.flex {
  -webkit-box-flex: 1;
}
@media (max-width: 768px) {
  .row h1 {
    font-size: 51px;
    letter-spacing: 1.9px;
  }
  .row h2 {
    font-size: 19px;
  }
  .row h2,
  .row p {
    padding-left: 5px;
  }
  .row p {
    font-size: 16px;
  }
  .row .colright {
    padding-top: 24px;
  }
  .row .colright .angelhack {
    width: 100%;
  }
  .row .colleft {
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
  }
  .row .colleft img {
    width: 240px;
    margin: 0 auto;
  }
  .row .colright,
  .row .colleft {
    height: auto;
  }
  .row .linkLeft {
    margin-right: 8px;
  }
}
@media all and (max-width: 992px) and (min-width: 768px) {
  .row h1 {
    font-size: 62px;
    letter-spacing: 1.9px;
  }
  .row h2 {
    font-size: 19px;
    letter-spacing: 1.1px;
  }
  .row h2,
  .row p {
    padding-left: 6px;
  }
  .row p {
    font-size: 16px;
  }
  .row .colleft {
    padding: 55px 0 0 45px;
  }
  .row .colleft img {
    width: 240px;
  }
  .row .colright {
    padding-top: 116px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media all and (max-width: 1200px) and (min-width: 992px) {
  .row h1 {
    font-size: 83px;
  }
  .row h2 {
    font-size: 25px;
  }
  .row h2,
  .row p {
    padding-left: 10px;
  }
  .row .colleft {
    padding: 55px 0 0 45px;
  }
  .row .colleft img {
    width: 300px;
  }
}
